.main-produits {
    box-shadow:2px 2px 5px #33333315;}

.main-produits ul.tabs , .tabs li {
    margin:0;
    padding:0;
    list-style:none;}

.main-produits .tabs li{
    float:left; 
    display:block;}

.main-produits .tabs:after{
    display:table;
    content:' ';
    clear:both;}

.nav-tabs a{
    display: inline-block;
    background-color: #EEE;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 15px;}

.nav-tabs .active a{
    background-color:#fff;}

.main-produits .tab-content .tab-pane h3{
    color:#333;
    padding:14px;}


.tab-content{
    position: relative; 
    z-index: 3; 
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    height:100vh;
    overflow-y:auto;}

.tab-pane .tabs-desc {
    box-shadow:0 0 3px #333;
}
.tab-pane .tabs-desc .row {
 box-shadow: 0px 2px 6px #ccc;}

.tab-pane .tabs-desc .p-3 img {
    padding: 0;
    border-radius: 8px;}

.tab-pane .tabs-info p,u {
    color:whitesmoke;
    text-underline-position:under;
    font-weight: 900;
    font-size: .9rem;}

.nav-tabs.fade{
    opacity:0; 
    transition:opacity .3s;}

.nav-tabs.fade.active{
    opacity:1;}

